
    .cuerpoGaleria{
        background-color: map-get($color, fondoGaleria);
    .textGaleria{
        
        h1{
            font-size: 270%;
            text-decoration: underline;
            text-align: center;
            margin-top: 20px;
            font-weight: bolder;
        }
     }
    }

