header{
    .navbar{
        background-color: map-get($color, colorHead);
        .logo{
            img{
                width: auto;
                height: 80px;
            }
        }
        .navbar-nav{
            color: white;
            font-size: 100%;
            .nav-link{
                color: map-get($color, colorNav);
                font-weight: bold;
                font-style: italic;
                font-size: 110%;
                padding-right: 30px;
                padding-left: 30px;
                &:hover{
                    font-size: 150%;
                    transition: 0.5s;
                }
                &:active{
                    border: solid;
                    border-radius: 15px;
                    border-color: white;
                    transition: 0.01s;
                    background-color:  #052e2d;
                }
            }
            .active{
                color: white;
                font-size: 130%;
            }
        }
    }
    
    @media screen and (max-width: 768px) {

        .navbar-nav .nav-link.active{
            color: black;
            font-size: 130%;
        }
        
        .navbar{
            background-image: url(../imagenes/logo/otros_formatos/facebook_cover_photo_2.png);
            background-size: cover;
            background-color: #ffffff;
            .navbar-nav{
                color: black;
                font-size: 130%;
                .nav-link{
                    color: #0d4b49;
                }
                .active{
                     color: black;
                    font-size: 130%;
                }
            }
    
        }
    }

    @media screen and (max-width: 576px) { 
        .navbar{
            background-image: none;
        }
    }
}
    
   





