main{
    .seccionPpl{
        background-image: map-get($fondos,manos1);
        @extend %imgFondo;
        .textoPpl{
            display: flex;
            font-style: italic;
            background-color: map-get($color, fondoTransp);
            background-size: cover;
            text-align: center;
            text-justify: center;
            font-size: 150%;
            font-weight: bold;
            align-items: center;
            line-height: 250%;
        }
    }

    @media screen and (max-width: 768px) {
        
            .seccionPpl{
            background-image: none;
            .textoPpl{
                line-height: 170%;
            }
            }
        
    }
    @media screen and (max-width: 576px) {
        
        .seccionPpl{
        background-image: none;
        .textoPpl{
            line-height: 120%;
            font-size: 130%;
        }
        }
    
}

}

