main{
    .seccionPpl{
        background-image: map-get($fondos,manos1);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        .textoPpl{
            display: flex;
            font-style: italic;
            background-color: map-get($color, fondoTransp);
            background-size: cover;
            text-align: center;
            text-justify: center;
            font-size: 150%;
            font-weight: bold;
            align-items: center;
            line-height: 120%;
        }
    }

    @media screen and (max-width: 768px) {
        
            .seccionPpl{
            background-image: none;
            }
        
    }

}

