.promo {
    background-image: url(../imagenes/logo/otros_formatos/twitter_header_photo_2.png);
    @include imgFondo($repet: repeat-y);

    .tarjetaMd {
        display: flex;
        justify-content: center;

        .cuerpoPromo {
            background-color: #51a8a566;
            border: groove;
        }
    }

    @media screen and (max-width: 768px) {
        .cuerpoPromo {
            display: block;
            height: 200px;
        }
    }
}