.promo {
    background-image: url(../imagenes/logo/otros_formatos/twitter_header_photo_2.png);
    @include imgFondo($repet: repeat-y);

    .cardDesktop {
        .cuerpoPromo {
            background-color: map-get($color, fondoGaleria);
            border: groove;
            font-size: 110%;
            h5{
               font-weight: bold; 
            }
            
        }
    }

    
        .cuerpoMd {
            background-color: map-get($color, fondoGaleria);
            h5,p{font-weight: bolder;}
            
        }
    
}