main{
    .tipoServicio{
        .textServicio{
            background-color: map-get($color, fondoTransp);
            border: solid;
            font-weight: bold;
            font-size: 120%;
            
            h2{
                text-decoration: underline;
                font-style: oblique;
                font-weight: bold;
                margin: 1rem 0rem 1rem 5rem;
            }
            p{
                margin: 1rem 0rem 1rem 7rem;   
            }
            ul{
                margin: 1rem 0rem 1rem 7rem;
                li{
                    margin-bottom: 1rem;
                }
            }
        }
        .imgCel{
            width: 275px;
            height: auto;
        }
    }
    #mani{
        background-image: map-get($fondos,manos2);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    #pedi{
        background-image: map-get($fondos,pies);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }
    #cosme{
        background-image: map-get($fondos,cosmeto);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
    }

    @media screen and (max-width: 768px) {
    
        #mani ,#pedi, #cosme{
            background-image: none;
            }
            .tipoServicio{
            .textServicio{
                text-align: start;
                h2{
                    text-decoration: underline;
                    font-style: oblique;
                    font-weight: bold;
                    margin: 1rem 0rem 1rem 1rem;
                }
                p{
                    margin: 1rem 0rem 1rem 4rem;   
                }
                ul{
                     margin: 1rem 0rem 1rem 4rem;
                    li{
                        margin-bottom: 1rem;
                    }
                }
            }
            .imgCel{
                width: 220px;
                height: auto;
            }
        }
        
    }
}


