main{
    .caja{
        height: auto;
        justify-content: center;
        background-image: map-get($fondos,manos1);
        @extend %imgFondo;
        .caja_Turnos{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            background-color: map-get($color, fondoTransp);
            width: 45%;
            height: auto;
            font-size: 120%;
            font-weight: bold;
            border: solid;
            border-style: ridge;
            border-radius: 20px; 
            padding-right: 10px;
            padding-left: 10px;   
            }
        .tituloCaja{
            font-size: 320%;
            font-weight: boid;
            background-color: #25706E;
            border-radius: 20px;
            border-style: inset;
        }
        .check{
            border: groove;
            border-radius: 5px;
        }
    }
    
    @media screen and (max-width: 1200px) {
        
        .caja{
            background-image: none;
            .caja_Turnos{
                width: 100%;
            }
        }
    }
}