$color:(
    colorHead: #0d4b49,
    fondoTransp: #4ac5c1c4,
    colorFooter: #0c3735,
    colorNav: #24d2cc
);

$fondos:(
    manos1:     url(https://img.freepik.com/foto-gratis/nail-tech-limando-lima-herramientas-manicura-profesional_176420-11581.jpg?w=1380&t=st=1664842005~exp=1664842605~hmac=10ae35774bc2b01cde4f6d746ab81e72500c32327a90aa25222b2cd7cdd7f454),
    manos2:     url(https://img.freepik.com/foto-gratis/manicurista-haciendo-gel-diseno-cliente-cerca_127675-2632.jpg?w=1380&t=st=1664842492~exp=1664843092~hmac=a35406067e7ae0ab646864359a6e531fbcf64d834168375466ff05f59c4af174),
    pies:       url(https://img.freepik.com/foto-gratis/proceso-pedicura-pedicura-salon-casa-tratamiento-cuidado-pies-proceso-pedicura-profesional-maestro-guantes-azules-hace-pedicura_343596-1589.jpg?w=1380&t=st=1664842007~exp=1664842607~hmac=86ecf675a52512f3ee04ca08573b279b9e3eb0f0dca7d6acdbcbceb15f704a6c),
    cosmeto:    url(https://img.freepik.com/foto-gratis/esteticista-pincel-aplica-mascarilla-hidratante-blanca-cara-cliente-joven-salon-belleza-spa_343596-4246.jpg?w=1380&t=st=1664842382~exp=1664842982~hmac=b1b6171bd6c97a7ecb47d3ba8a104e5a1304a64bab8cf0c9f6e2e3b6dffc64e1)
);

%imgFondo{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

@mixin imgFondo($repet) {
    background-attachment: fixed;
    background-position: center;
    background-repeat: $repet;
}