*{
    margin: 0;
    padding: 0;
}
/* CABECERA */
@import "./partials/header";
/* FOOTER */
@import "./partials/footer";
/* INICIO */
@import "./partials/inicio";
/* SERVICIOS */
@import "./partials/servicios";
/* PROMOCIONES */
@import "./partials/promociones";
/* TURNOS */
@import "./partials/turnos";





/* GALERIA */
.galeria{
    display: flex;
    flex-direction: column;
    background-color:#24d2cc;
    height: 50%;
    width: auto;
}

.galeria div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria img{
    display: flex;
    height: auto;
    width: 30%;
    padding: 8px;
}

.galeria h1{
    font-size: 250%;
    text-decoration: underline;
    text-align: center;
    padding: 10px;
}