* {
  margin: 0;
  padding: 0;
}

/* VARIABLES */
/* CABECERA */
header .navbar {
  background-color: #0d4b49;
}
header .navbar .logo img {
  width: auto;
  height: 80px;
}
header .navbar .navbar-nav {
  color: white;
  font-size: 100%;
}
header .navbar .navbar-nav .nav-link {
  color: #24d2cc;
  font-weight: bold;
  font-style: italic;
  font-size: 110%;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: 15px;
  border: solid;
  border-radius: 15px;
}
header .navbar .navbar-nav .nav-link:hover {
  font-size: 150%;
  transition: 0.5s;
}
header .navbar .navbar-nav .nav-link:active {
  border: solid;
  border-radius: 15px;
  border-color: white;
  transition: 0.01s;
  background-color: #052e2d;
}
header .navbar .navbar-nav .active {
  color: white;
  font-size: 130%;
  background-color: #052e2d;
}
@media screen and (max-width: 768px) {
  header .navbar-nav .nav-link.active {
    color: black;
    font-size: 130%;
    background-color: none;
  }
  header .navbar {
    background-image: url(../imagenes/logo/otros_formatos/facebook_cover_photo_2.png);
    background-size: cover;
    background-color: #ffffff;
  }
  header .navbar .navbar-nav {
    color: black;
    font-size: 130%;
  }
  header .navbar .navbar-nav .nav-link {
    color: #0d4b49;
    border: none;
  }
  header .navbar .navbar-nav .active {
    color: black;
    font-size: 130%;
    background-color: unset;
  }
}
@media screen and (max-width: 576px) {
  header .navbar {
    background-image: none;
  }
}

/* FOOTER */
footer {
  background-color: #0c3735;
}
footer .logo img {
  height: 150px;
  width: 150px;
}
footer h5 {
  color: #85b4b3;
} /* INICIO */
main .seccionPpl {
  background-image: url(../imagenes/nail-tech-filing-nails-with-nail-file-professional-manicure-tools.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
main .seccionPpl .textoPpl {
  display: flex;
  font-style: italic;
  background-color: rgba(74, 197, 193, 0.768627451);
  background-size: cover;
  text-align: center;
  text-justify: center;
  font-size: 150%;
  font-weight: bold;
  align-items: center;
  line-height: 120%;
}
@media screen and (max-width: 768px) {
  main .seccionPpl {
    background-image: none;
  }
}

/* SERVICIOS */
main .tipoServicio .textServicio {
  background-color: rgba(74, 197, 193, 0.768627451);
  border: solid;
  font-weight: bold;
  font-size: 120%;
}
main .tipoServicio .textServicio h2 {
  text-decoration: underline;
  font-style: oblique;
  font-weight: bold;
  margin: 1rem 0rem 1rem 5rem;
}
main .tipoServicio .textServicio p {
  margin: 1rem 0rem 1rem 7rem;
}
main .tipoServicio .textServicio ul {
  margin: 1rem 0rem 1rem 7rem;
}
main .tipoServicio .textServicio ul li {
  margin-bottom: 1rem;
}
main .tipoServicio .imgCel {
  width: 275px;
  height: auto;
}
main #mani {
  background-image: url(../imagenes/nail-tech-filing-nails-with-nail-file-professional-manicure-tools.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
main #pedi {
  background-image: url(../imagenes/pedicure-process-home-salon-pedicure-foot-care-treatment-and-nail-the-process-of-professional-pedicures-master-in-blue-gloves-make-pedicure.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
main #cosme {
  background-image: url(../imagenes/beautician-with-brush-applies-white-moisturizing-mask-to-the-face-of-young-girl-client-in-spa-beauty-salon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  main #mani, main #pedi, main #cosme {
    background-image: none;
  }
  main .tipoServicio .textServicio {
    text-align: start;
  }
  main .tipoServicio .textServicio h2 {
    text-decoration: underline;
    font-style: oblique;
    font-weight: bold;
    margin: 1rem 0rem 1rem 1rem;
  }
  main .tipoServicio .textServicio p {
    margin: 1rem 0rem 1rem 4rem;
  }
  main .tipoServicio .textServicio ul {
    margin: 1rem 0rem 1rem 4rem;
  }
  main .tipoServicio .textServicio ul li {
    margin-bottom: 1rem;
  }
  main .tipoServicio .imgCel {
    width: 220px;
    height: auto;
  }
}

/* PROMOCIONES */
.promo {
  background-image: url(../imagenes/logo/otros_formatos/twitter_header_photo_2.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
}
.promo .tarjetaMd {
  display: flex;
  justify-content: center;
}
.promo .tarjetaMd .cuerpoPromo {
  background-color: rgba(81, 168, 165, 0.4);
  border: groove;
}
@media screen and (max-width: 768px) {
  .promo .cuerpoPromo {
    display: block;
    height: 200px;
  }
}

/* TURNOS */
main .caja {
  height: auto;
  justify-content: center;
  background-image: url(../imagenes/nail-tech-filing-nails-with-nail-file-professional-manicure-tools.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
main .caja .caja_Turnos {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgba(74, 197, 193, 0.768627451);
  width: 45%;
  height: auto;
  font-size: 120%;
  font-weight: bold;
  border: solid;
  border-style: dotted;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
main .caja .tituloCaja {
  font-size: 320%;
  font-weight: boid;
  background-color: #25706E;
  border-radius: 20px;
  border-style: dotted;
}
main .caja .check {
  border: groove;
  border-radius: 5px;
}
@media screen and (max-width: 1200px) {
  main .caja {
    background-image: none;
  }
  main .caja .caja_Turnos {
    width: 100%;
  }
}

/* GALERIA */
.galeria {
  display: flex;
  flex-direction: column;
  background-color: #24d2cc;
  height: 50%;
  width: auto;
}

.galeria div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galeria img {
  display: flex;
  height: auto;
  width: 30%;
  padding: 8px;
}

.galeria h1 {
  font-size: 250%;
  text-decoration: underline;
  text-align: center;
  padding: 10px;
}/*# sourceMappingURL=styles.css.map */